// Bulma styles
@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";

// Import a Google Font

$font-stack: 'Quicksand', sans-serif;

// Colors
$orange: #ee5c1b;
$dark_grey: #343438;
$light_black:#57575a;
$light_grey: #F2C9C9;
$theme-green: #00f5a2;

$theme-pink: #EDDDD4;
$theme-brown: #B49082;
$theme-orange: #B56D36;
$theme-gold: #A37C40;
$theme-black: #f8f8f8;
$theme-blue: #232532;
$theme-grey: #393939;
$theme-green: #283D3B;
$theme-red:#772E25;
$theme-grey: #1d1d20;
$theme-white: #1c1b20 ;
$theme-neon-green: #ff5951;
$theme-light-green: #424a6b;
$theme-light-blue: #A5CBC3;
$theme-ruby: #b05454;
$theme-head-foot: #1c1b20;

// Sizes
$small: 600px;
$medium: 900px;

@function get-dash-value($radius, $percentage) {
    // Using $radius, calculate circumference.
    $circumference: 2 * 3.1415927 * $radius;

    // Convert percentage to decimal.
    // i.e. 50% = 0.5.
    $percentage-as-decimal: $percentage / 100%;

    // Return unit value.
    @return $circumference * $percentage-as-decimal;
}

::selection {
    background: $theme-neon-green;
    color:#fff;
}
body {
    // background: linear-gradient(180deg, $theme-blue 0%, $theme-black 100%);
    background: $theme-black;
    font: 100% $font-stack;
    z-index: 1;

    // &:after{
    //     content: '';
    // position: absolute;
    // left: 0;
    // right: 0;
    // margin: 0 auto;
    // height: 90%;
    // z-index: 0;
    // top: 20%;
    // width: 90%;
    // background-color: #fff;
    // }

    h1,
    h2,
    h3,
    h4,
    .h4 {
        color: $theme-white;
        font-family: 'Fredoka One', cursive;
        font-weight: normal;
        z-index: 1;
    }

    p{
        line-height: 1.6;
        font-family: 'Quicksand', sans-serif;

        color:$theme-white;
        // font-family: 'Lato', sans-serif;


    }
    .hide-header{
        display: none !important;
    }

    h1 {
        font-size: 90px;
        font-weight: bold;
        line-height: 1.2;
    }

    h2 {
        font-size: 50px;
        font-weight: bold;
        text-align:center;
    }
    h4, .h4 {
        font-size: 26px;
        padding-bottom: 10px;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .text-center{
        text-align: center;
    }
    .column {
        overflow: hidden;
    }
    
    .column.is-half {
        margin: 0 auto;
        text-align: left;
    }
    
    h2 {
        position:relative;

        a.underline {
            display: block;
        }
    }

    .container {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        padding: 0px;
        position: relative;
    }

    .button{
        font-size: 16px;
        border-radius: 10px;
        font-weight: 600;
    }

    .pink{
        background-color: $theme-neon-green;
        color:$theme-black;
        border: none;
        padding: 30px 50px;

        &:after {
            display: none !important;
        }
        &:hover{
            color:$theme-black;
        }
    }
    .black{
        color: $theme-white;
    }

    .align-middle{
        display: flex;
        align-items: center;
    }

    @mixin label($display: block, $pos: absolute, $left: 0%, $right: 0%, $color: $light_black, $font-size: 30em, $font-weight: bold, $text-transform: uppercase, $z-index: -2, $opacity: 0.2) {
        display: $display;
        position: $pos;
        left: $left;
        right: $right;
        color: $color;
        font-size: $font-size;
        opacity: $opacity;
        font-weight: $font-weight;
        text-transform: $text-transform;
        z-index: $z-index;
    }

    .nav-container{
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        z-index: 11;
        padding: 0px 10px;
        width: 100%;
        transition: all 0.5s;
        background: $theme-head-foot;
        &.scrollUp{
            transform: translateY(-102px);
        }
        .desktop-nav {
            padding: 40px 20px;
            
            ul.menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                li {
                    display: flex;
                    padding: 0 40px;

                    a{
                        color: $theme-black;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }

        }
        .navbar-brand {
            font-weight: bold;

            img {
                max-height: none;
                height: 60px;
                width: 60px;
            }

            a {
                color: $theme-green;
                font-size: 20px;
                margin: 0 auto;
            }
        }
    }

    .sub-title {
        color: $theme-white;
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        z-index: 999;
        font-size: 2em;
        padding-bottom: 60px;
    }

    .hero-body {
        position: relative;
        overflow: hidden;
        &:after{
            content: '';
            position: absolute;
            left: 10px;
            right: 0;
            margin: 0 auto;
            height: 96%;
            z-index: 0;
            top: 140px;
            width: 96%;
            background-color: #fff;
        }

        .columns {
            justify-content: center;
            width: 100%;
        }

        // Landing Page Styling
        &#home {

            flex-direction: column;
            .landing-container{
                position: relative;
                z-index: 1;
                &:after{
                    content:'';
                    height:200px;
                    width: 200px;
                    border-radius: 10px;
                    position: absolute;
                    bottom: 10%;
                    left:0%;
                    background-color: $theme-neon-green;
                }
                &:before{
                    content:'';
                    height:600px;
                    width: 600px;
                    border-radius: 10px;
                    position: absolute;
                    top: 20%;
                    right:0%;
                    opacity: .4;
                    z-index: -1;
                    background-color: $theme-neon-green;
                }
            }
           .eyebrow{
               font-size: 16px;
               padding-bottom: 10px;
               color:$theme-green;
               font-weight: 500;;
           }

            .landing {
                text-align: left !important;
                z-index: 1;

                span {
                    color: $theme-white;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 300;
                }

                .contact{
                    display: flex;
                    margin-top:10px;
                    li{
                        margin-right:10px;
                        a{
                            color: $theme-white;
                            font-size: 26px;
                            transition: .2s ease-in-out;
                            padding:5px;
                        }
                        &:hover{
                            a{
                                opacity: .5;
                            }
                        }
                    }
                }

                p {
                    color: $theme-white !important;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 0 20px 0;
                    line-height:1.8;
                }
            }
        }

        // About Section
        &#about {
            a{color:$theme-neon-green;font-weight:600;}
            .container{position: relative;
                z-index: 1;
                span.top{
                    position: absolute;
                    top:0;
                    bottom:0;
                    font-size: 160px;
                    z-index:-1;
                    color: #B56D36;
                    font-weight: 600;
                    text-transform: uppercase;
                    transform: translate(0%, 50%);
                    max-width: 200px;
                    opacity: .5;
                    word-break: break-all;
                    line-height: 1;
                }
                span.left{left: 0%;}
                span.right{right: 0%;}
            }
            .columns.is-mobile{
                padding-top:0 !important;
            }
            .columns{
                padding-top:50px;
            }
            .slideshowSlider{
                position: relative;
                // border-bottom:1px solid  $theme-neon-green;
                background-color: $theme-neon-green;
                display: -webkit-inline-box;
                margin: 0 5px;
                padding: 0 10px;
                overflow: hidden;
                top:3px;
                color: #fff;
                .slideshowDot{
                    opacity: 0;
                    transition: .6s ease-in-out;
                    margin: 0 auto;
                    position: absolute;
                    top:1px;
                    transform:translateY(-100px);
                }
                .slideshowDot.active{
                    opacity: 1;
                    font-weight: 600;
                    transform:translateY(0);
                }
            }
            .slideshowSlider.language{
                min-width: 120px;
                position:relative;
                min-height:26px;
            }
            .slideshowSlider.years{
                min-width: 40px;
                position: relative;
                min-height:26px;
            }
            @-webkit-keyframes grow {
                0% { transform: translateX(0);width:0%; background-color: rgba(255, 89, 81, .1);} 
                100% { transform: translateX(0);background-color: rgba(255, 89, 81, 1);}
            }
            @keyframes grow {
                0% { transform: translateX(0);width:0%;background-color: rgba(255, 89, 81, .1);}
                100% { transform: translateX(0);background-color: rgba(255, 89, 81, 1);}
            }
            .side-measure{
                position: relative;
                width: 100%;
                height:30px;
                border-radius: 40px;
                margin-bottom: 20px;
                border: 1px solid $theme-neon-green;
                span{
                    position: absolute;
                    bottom:-30px;
                    top:auto;
                    font-size: 12px;
                    min-height:20px;
                    font-weight: 600;
                    color:$theme-white;
                    &:nth-child(1){
                        left:5px;
                    }
                    &:nth-child(2){
                        right:5px;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    left:0;
                    bottom:0;
                    height:100%;
                    width: 100%;
                    border-radius: 20px;
                    z-index: -1;
                    background-color: rgba(255,255,255, .7);
                }

                .fill{
                    position: absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                    height:29px;
                    background-color:$theme-light-green;
                    display: none;
                    border-radius: 40px;
                }
                .fill.active{
                    display: block;
                    animation: grow 1s forwards ease-in-out;
                }
            }
            
            .has-text-left{
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
            }
            table{
                width: 100%;
                tr, td{
                    padding:10px 0;
                }
                tr.top {
                    border-bottom: 1px solid $theme-blue;
                    color: $theme-blue;
                    td {
                    font-weight: 800;
                    font-size: 26px;
                    padding-right: 50px;
                    }
                }
            }
        }



        // Work Section
        #work {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .item{
                padding: 20px;
                text-align: center;
                position: relative;
                max-width: 700px;
                margin-bottom: 10px;
                border-radius: 0;
                display: flex;
                flex-direction: column;
                .box-img{
                    width: 100%;
                    a{width: 100%;display: block;}
                    img{
                        min-width:100%;
                        max-width: 100%;
                        height: auto;
                        // filter: grayscale(1);
                        transition: .2s ease-in-out;
                    }
                    &:hover{
                        img{
                            filter: none;
                        }
                    }
                }
                .box-details{
                    background-color: $theme-black;
                    padding:20px;
                }
                .languages{
                    font-style: italic;
                    font-weight: 100;
                    font-size: 12px;
                    padding-top:20px;
                    padding-top:20px;
                    span{
                        font-weight: 400;
                        padding:0 20px;
                        color:$theme-blue;
                        border-right:1px solid $theme-blue;
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
                .description{
                    color:$theme-blue;
                    white-space: break-spaces;
                }
            }
            .item.active{display: block;}
            
            .carousel {
                overflow: hidden;
                position: relative;
                .dir{
                    background-color: #fff;
                    font-size: 245px;
                    top:2px;
                    position: absolute;
                    top:0;
                    bottom:0;
                    z-index: 6;
                    &:after{
                        background-color: transparent;
                    }
                    i{
                        color:$theme-neon-green;
                        cursor: pointer;
                        opacity: .1;
                        transition: .2s ease-in-out;
                    }
                    &:hover{
                        i{
                            opacity: 1;
                        }
                    }
                }
                .dir-left{
                    left:0;
                }
                .dir-right{
                    right:0;
                }
              }
              
              .inner {
                white-space: nowrap;
                transition: transform 0.3s;
                position: relative;
                z-index: 1;
              }
              
              .carousel-item {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #fff;
              }
              
              .indicators {
                display: flex;
                justify-content: center;
                position: relative;
              }
              
              .indicators > button {
                margin: 5px;
                
              }
              
              .indicators > button.active {
                color: #fff;
              }
            button{
                background-color: transparent;
                position: relative;
                border: none;
                &:after{
                    content: '';
                    height:20px;
                    width: 20px;
                    background: #fff;
                    position: absolute;
                    border-radius: 50px;
                    left:0;
                    right: 0;
                }
            }
            button.active{
                &:after{
                    background-color: $theme-neon-green;
                }
            }
        }

        // Featured Section
        #featured{

            .card{
                margin-top:50px;
                width: 100%;
                color:$theme-white;
                position: relative;
                z-index: 1;

                .labels{
                    p{
                        font-weight: 600;
                        color:$theme-black;
                    }
                }
                .card-description{
                    color:$dark_grey;
                    height: 280px;
                    ul {
                        li{
                            text-align: left;
                            padding:10px 20px;
                            padding: 10px 20px;
                            background: $theme-neon-green;
                            border-radius: 25px;
                            margin-bottom: 20px;
                            cursor: pointer;
                            a{
                                color:$theme-black;
                                font-weight: 600;
                            }
                            &:last-child{
                                margin-bottom: 0 !important;
                            }
                        }
                        .active{
                            background-color: $theme-white;
                            a{
                                color:#fff;
                            }
                        }
                    }
                    .card-title{ 
                        font-size: 20px;
                        font-weight: 700;
                        padding-bottom:5px;
                        margin-right: 10px;
                   }
                   .card-subtitle{
                       font-size: 14px;
                       font-style: italic;
                   }
                   .card-content{
                       line-height: 2;
                   }
                }
                .featured-item{
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid $theme-black;
                    justify-content: space-evenly;
                    margin-bottom:10px;
                    align-items: center;
                    padding: 10px 0;
                    
                }
                .project-desc {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    height: 100%;
                    border-bottom: 2px solid $theme-neon-green;
                    border-radius: 8px;
                    background: $theme-black;
                    text-align: left;
                    padding: 20px;
                    .active{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-between;
                    }
                    i{
                        color:$theme-white;
                    }
                    .desc{
                        line-height: 1.4;
                    }
                    .links {
                        margin-top:10px;
                        a{
                            margin-right:10px;
                        }
                    }
                }
                .project-desc > div{
                    display: none;
                }
            }
        }

        #contact {
            .container{
                align-items: center;
                min-height:70vh;
                z-index: 1;
                h2{
                    padding-bottom: 60px;
                    padding-left: 0;
                    &:after{
                        display: none;
                    }
                }
            }
            .made-by-bulma{
                padding-top:20px;
            }
        }
    }
    .column.is-half,
    .column.is-two-thirds,
    .column.is-three-quarters {
        margin: 0 auto;
        text-align: center;
    }

}


// Mobile Styling 
.mobile-nav {
    position: relative;
    display: none;

    li{
        line-height: 4;
        a{
            font-size: 18px;
            color: $theme-white;
            font-weight: 600;
        }
    }

    i.fas.fa-bars{
        font-size: 45px;
        color:$theme-neon-green;
    }
    .navbar-burger {
        color: $theme-green !important;
    }

    img {
        width: 50px;
    }
    #mobileNav {
        display: none;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        min-width: 300px;
        height: 100vh;
        outline: 0px;
        background-color: $theme-neon-green;
        box-shadow: -10px 0px 30px -15px #000;
        z-index: 9;
        transform: translateX(0vw);
        visibility: visible;
    
        p {
            color: $theme-black;
        }
    }
    .is-active#mobileNav{
        display: flex;
    }
    i.fas.fa-times {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 45px;
        color:$theme-black;
    }
}


footer {
    background: $theme-head-foot;
    padding: 10px;
    color: $theme-black;
    padding:20px 0 0px 0;
    .copyright{color:$theme-black;}

    h4 {
        font-weight: bold;
        color: $theme-black;
    }

    li {
        display: inline-block;
        padding: 10px;

        a {
            i {
                color: $theme-black;
                transition: .2s ease-in-out;
            }

            &:hover {
                i {
                    color: $theme-neon-green !important;
                }
            }
        }
    }
}

@media screen and (max-width: $medium) {
    .columns {
        margin: 0 auto;
        .column {
            flex: 0 0 45%;
        }
    }
    h2{
        font-size: 40px !important;
    }
    .title{
        font-size: 16px;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }

    .has-text-right{
        text-align: left !important;
    }
    .hero-body{
        &:after{
            left: 0 !important;
            top: 90px !important;
            height: 97.3% !important;
        }
    }

    #home {
        .landing-container {
            &:before{
                width:200px !important;
                height:200px !important;
            }
            &:after{
                width:100px !important;
                height:100px !important;
            }
        }
        .landing{
            span{
                font-size: 32px;
            }
        }
    } 
    #about{
        .is-one-fifth{
            display: none;
        }
        .slideshowSlider{
            margin-bottom: 10px !important;
        }
    }

    #portfolio{
        #work{
            padding-top:20px;
            .item{
                max-width: 100%;
            }
        }
        h2{
            margin-left: 0 !important;
        }
        .dir{
            display: none;
        }
    }
    #featured{
        h2{
            padding-bottom: 10px;
        }
        .card {
            margin-top: 0px !important;
        }
    }
    // #work{
    //     .inner{
    //         display: flex;
    //         align-items: flex-end;
    //     }
    // }
}


@media screen and (min-width: $medium) {

}


@media screen and (max-width: $small) {
    .columns {
        .column {
            flex: 0 0 100%;
            height: auto !important;
            min-height: 200px;
        }
    }
    .language{
        top: 12px !important;
    }
    .years{
        top:12px !important;
    }

    footer {
        display: block;
        h4{
            color:$theme-white;
        }
        li{
            i:before{
                color:$theme-white;
            }
        }
    }
    .navbar-item{
        padding-left:0;
    }

    .mobile-nav {
        z-index: 1;
        display: block;
    }

    .columns.about {
        margin: 0 !important;

        .column.is-half {
            min-height: 20px !important;

            h2 {
                font-size: 20px;
            }
        }
    }

    .content.about {
        padding: 0 !important;
    }

    .columns.is-mobile .column {
        padding: 10px !important;
        width: 100% !important;
        margin: 0 !important;
    }

    .column.is-two-thirds.landing {
        h1 {
            br {
                display: none;
            }
        }
    }

    h1 {
        font-size: 42px !important;
    }
    h2{
        padding-left: 0 !important;
        text-align: center !important;
        &:after{
            width:50px !important;
            bottom:-15px;
            top: auto !important;
            left: 0!important;
            right: 0;
            transform: translate(0%, 0%) !important;
            margin:0 auto;
        }
    }

    .hero.is-fullheight {
        .page {
            position: relative;
            width: 100%;
            flex: 1 1 auto;
            overflow: hidden;
        }
    }

    .fixed-nav {
        .navbar-brand {
            display: none;
        }
    }

    #featured{
        padding-top:20px;
        .card{
            padding:20px;
        }
    }
    .box-details{
        .languages{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            span{
                margin-top:10px;
                width:50%;
                border:none !important;
            }
        }
    }
}

 
.floating:before {  
    animation-name: floating-before;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
.floating:after {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
@keyframes floating-before {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -15px); }
    to   { transform: translate(0, -0px); }    
}