// Bulma styles
@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";

// Import a Google Font

$font-stack: 'Quicksand', sans-serif;

// Colors
$green: #b38401;
$orange: #ee5c1b;
$dark_grey: #343438;
$light_black:#57575a;
$white: #fff ;
$light_grey: #F2C9C9;
$green: #00f5a2;

$theme-pink: #EDDDD4;
$theme-brown: #B49082;
$theme-orange: #B56D36;
$theme-gold: #A37C40;
$theme-black: #07090F;
$theme-blue: #232532;
$theme-grey: #393939;
$theme-green: #283D3B;
$theme-red:#772E25;

// Sizes
$small: 600px;
$medium: 900px;

@function get-dash-value($radius, $percentage) {
    // Using $radius, calculate circumference.
    $circumference: 2 * 3.1415927 * $radius;

    // Convert percentage to decimal.
    // i.e. 50% = 0.5.
    $percentage-as-decimal: $percentage / 100%;

    // Return unit value.
    @return $circumference * $percentage-as-decimal;
}


body {
    // background: linear-gradient(180deg, $theme-blue 0%, $theme-black 100%);
    background: $theme-pink;
    font: 100% $font-stack;

    h1,
    h2,
    h3,
    h4,
    .h4 {
        color: $theme-blue;
        font-family: 'Fredoka One', cursive;
        font-weight: normal;
    }

    p{
        line-height: 1.6;
        font-family: 'Quicksand', sans-serif;
        // font-family: 'Lato', sans-serif;


    }
    .hide-header{
        display: none !important;
    }

    h1 {
        font-size: 90px;
        font-weight: bold;
        line-height: 1.2;
    }

    h2 {
        font-size: 50px;
        font-weight: bold;
        text-align:center;
    }
    h4, .h4 {
        font-size: 26px;
        padding-bottom: 10px;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .text-center{
        text-align: center;
    }
    .column {
        overflow: hidden;
    }
    
    .column.is-half {
        margin: 0 auto;
        text-align: left;
    }
    
    h2 {
        position:relative;

        a.underline {
            display: block;
        }
    }

    .container {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        padding: 0px;
        position: relative;
    }

    .button{
        font-size: 16px;
        border-radius: 10px;
        font-weight: 600;
    }

    .pink{
        background-color: $green;
        color:$dark_grey;
        border: none;
        padding: 30px 50px;

        &:after {
            display: none !important;
        }
    }

    .align-middle{
        display: flex;
        align-items: center;
    }

    @mixin label($display: block, $pos: absolute, $left: 0%, $right: 0%, $color: $light_black, $font-size: 30em, $font-weight: bold, $text-transform: uppercase, $z-index: -2, $opacity: 0.2) {
        display: $display;
        position: $pos;
        left: $left;
        right: $right;
        color: $color;
        font-size: $font-size;
        opacity: $opacity;
        font-weight: $font-weight;
        text-transform: $text-transform;
        z-index: $z-index;
    }

    .nav-container{
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        z-index: 11;
        padding: 0px 10px;
        width: 100%;
        transition: all 0.5s;
        background: transparent;
        &.scrollUp{
            transform: translateY(-102px);
        }
        .desktop-nav {
            padding: 40px 20px;
            
            ul.menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                li {
                    display: flex;
                    padding: 0 40px;

                    a{
                        color: $theme-blue;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }

        }
        .navbar-brand {
            font-weight: bold;

            img {
                max-height: none;
                height: 60px;
                width: 60px;
            }

            a {
                color: $green;
                font-size: 20px;
                margin: 0 auto;
            }
        }
    }

    .hero-body {
        position: relative;
        overflow: hidden;

        .columns {
            justify-content: center;
            width: 100%;
        }

        // Landing Page Styling
        &#home {

            flex-direction: column;
            .landing-container{
                position: relative;
                z-index: 1;
                &:after{
                    content:'';
                    height:200px;
                    width: 200px;
                    border-radius: 100%;
                    position: absolute;
                    bottom: 10%;
                    left:0%;
                    background-color: $theme-orange;
                }
                &:before{
                    content:'';
                    height:600px;
                    width: 600px;
                    border-radius: 100%;
                    position: absolute;
                    top: 10%;
                    right:0%;
                    opacity: .4;
                    z-index: -1;
                    background-color: $theme-orange;
                }
            }
           .eyebrow{
               font-size: 16px;
               padding-bottom: 10px;
               color:$green;
               font-weight: 500;;
           }

            .landing {
                text-align: left !important;
                z-index: 1;

                span {
                    color: $theme-red;
                }

                .contact{
                    display: flex;
                    li{
                        margin-right:10px;
                        a{
                            color: $theme-orange;
                            font-size: 24px;
                        }
                    }
                }

                p {
                    color: $theme-blue !important;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 0 20px 0;
                    line-height:1.8;
                }
            }
        }

        // About Section
        &#about {
            .container{position: relative;
                z-index: 1;
                span.top{
                    position: absolute;
                    top:0;
                    bottom:0;
                    font-size: 160px;
                    z-index:-1;
                    color: #B56D36;
                    font-weight: 600;
                    text-transform: uppercase;
                    transform: translate(0%, 50%);
                    max-width: 200px;
                    opacity: .5;
                    word-break: break-all;
                    line-height: 1;
                }
                span.left{left: 0%;}
                span.right{right: 0%;}
            }
            .columns{
                padding-top:50px;
            }
            .slideshowSlider{
                position: relative;
                border-bottom:1px solid #000;
                display: -webkit-inline-box;
                margin: 0 5px;
                .slideshowDot{
                    display: none;
                    margin: 0 auto;
                }
                .slideshowDot.active{
                    display: block;
                    font-weight: 600;
                }
            }
            .slideshowSlider.language{
                min-width: 110px;
            }
            .slideshowSlider.years{
                min-width: 20px;
            }
            @-webkit-keyframes grow {
                0% { transform: translateY(0);height:0%; background-color: rgba(40,61,59, .1);} 
                100% { transform: translateY(0);background-color: rgba(40,61,59, 1);}
            }
            @keyframes grow {
                0% { transform: translateY(0);height:0%;background-color: rgba(40,61,59, .1);}
                100% { transform: translateY(0);background-color: rgba(40,61,59, 1);}
            }
            .skills{
                tr{
                    &:nth-child(1){
                        background-color: rgba(40, 61, 59, .4);
                    }
                    &:nth-child(2){
                        background-color: rgba(40, 61, 59, .7);
                    }
                    &:nth-child(3){
                        background-color: rgba(40, 61, 59, .9);
                    }
                }
            }
            .side-measure{
                position: relative;
                width: 20px;
                height:100%;
                border: 1px solid $theme-green;
                span{
                    position: absolute;
                    left:50px;
                    bottom:30%;
                    font-size: 20px;
                    min-width:80px;
                    &:nth-child(1){
                        top:0;
                    }
                    &:nth-child(2){
                        bottom: 0;
                    }
                }
                .fill{
                    position: absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                    height:0%;
                    background-color:$theme-green;
                    display: none;
                }
                .fill.active{
                    display: block;
                    animation: grow 1s forwards ease-in-out;
                }
            }
            
            .has-text-left{
                flex-direction: column;
                align-items: flex-start;
            }
            table{
                width: 100%;
                tr, td{
                    padding:10px 0;
                }
                tr.top {
                    border-bottom: 1px solid $theme-blue;
                    color: $theme-blue;
                    td {
                    font-weight: 800;
                    font-size: 26px;
                    padding-right: 50px;
                    }
                }
            }
        }



        // Work Section
        #work {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .box{
                background-color:#fff;
                padding: 20px;
                text-align: center;
                position: relative;
                width: 45%;
                margin-bottom: 60px;
                border-radius: 0;
                height: 250px;
                .box-details{
                    position: absolute;
                    bottom: -20px;
                    right: 20px;
                    padding: 10px;
                    background-color: $theme-orange;
                    span{
                        color:#fff;
                        padding: 0 20px;
                    }
                }
                .box-img{
                    width: 100%;
                    display: none;
                    img{
                        max-width: 100%;
                        height: auto;
                        // filter: grayscale(1);
                    }
                }
                .visible-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    background-color: black;
                    a{
                        margin-top:20px;
                        font-weight: 600;
                        color:#fff;
                    }
                    img{
                        max-width: 150px;
                        margin: 0 auto;
                    }
                }

                &:hover{
                    .box-img{
                        display: block;
                    }
                    .visible-content{
                        display: none;
                    }
                }
            }

        }

        // Featured Section
        #featured{

            .card{
                margin-top:50px;
                background: $white;
                width: 100%;
                color:$white;
                position: relative;
                z-index: 1;

                .labels{
                    p{
                        font-weight: 600;
                        color:$theme-black;
                    }
                }
                .card-description{
                    padding:50px;
                    color:$dark_grey;

                    .card-title{ 
                        font-size: 20px;
                        font-weight: 700;
                        padding-bottom:5px;
                        margin-right: 10px;
                   }
                   .card-subtitle{
                       font-size: 14px;
                       font-style: italic;
                   }
                   .card-content{
                       line-height: 2;
                   }
                }
                .featured-item{
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid $theme-black;
                    justify-content: space-evenly;
                    margin-bottom:10px;
                    align-items: center;
                    padding: 10px 0;
                    
                }
            }
        }

        #contact {
            .container{
                align-items: center;
                min-height:70vh;
                h2{
                    padding-bottom: 60px;
                    padding-left: 0;
                    &:after{
                        display: none;
                    }
                }
            }
            .made-by-bulma{
                padding-top:20px;
            }
        }
    }
    .copyright{color:$white;}

    .column.is-half,
    .column.is-two-thirds,
    .column.is-three-quarters {
        margin: 0 auto;
        text-align: center;
    }

}


// Mobile Styling 
.mobile-nav {
    position: relative;
    display: none;

    li{
        line-height: 4;
        a{
            font-size: 18px;
            color: $dark_grey;
            font-weight: 600;
        }
    }

    i.fas.fa-bars{
        font-size: 45px;
        color:$green;
    }
    .navbar-burger {
        color: $green !important;
    }

    img {
        width: 50px;
    }
    #mobileNav {
        display: none;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        min-width: 300px;
        height: 100vh;
        outline: 0px;
        background-color: $green;
        box-shadow: -10px 0px 30px -15px #000;
        z-index: 9;
        transform: translateX(0vw);
        visibility: visible;
    
        p {
            color: $white;
        }
    }
    .is-active#mobileNav{
        display: flex;
    }
    i.fas.fa-times {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 45px;
        color:$dark_grey;
    }
}


footer {
    display: none;
    background: $green;
    padding: 10px;

    h4 {
        font-weight: bold;
        color: $white;
    }

    li {
        display: inline-block;
        padding: 10px;

        a {
            i {
                color: $white;
            }

            &:hover {
                i {
                    color: $green !important;
                }
            }
        }
    }
}

@media screen and (max-width: $medium) {
    .columns {
        .column {
            flex: 0 0 45%;
        }
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }

    .has-text-right{
        text-align: left !important;
    }

    #portfolio{
        #work{
            padding-top:20px;
        }
        h2{
            margin-left: 0 !important;
        }
        #tabs-with-content .tabs:not(:last-child) {
            margin-bottom: 0;
        }
        
        #tabs-with-content .tab-content {
            padding: 1rem;
            display: none;
        }
        
        #tabs-with-content .tab-content.is-active {
            display: block;
        }
        // .card{
        //     display: flex;
        //     flex-direction: column;
        //     padding:20px 0 !important;
        //     .card-title{
        //         padding-bottom: 5px !important;
        //         color:$white;
        //     }
        //     .card-content{
        //         padding: 25px 0 !important;
        //         box-shadow: none !important;
        //         background: transparent !important;
        //     }
        //     .card-description{
        //         order:1;
        //         .card-content{
        //             color:$white;
        //         }
        //     }
        //     .card-image{
        //         order: 2;
        //         a{
        //             filter: grayscale(100%) contrast(1);
        //         }
        //     }
        // }
    }
}


@media screen and (min-width: $medium) {

}


@media screen and (max-width: $small) {
    .columns {
        .column {
            flex: 0 0 100%;
            height: auto !important;
            min-height: 200px;
        }
    }

    footer {
        display: block;
        h4{
            color:$white;
        }
        li{
            i:before{
                color:$white;
            }
        }
    }
    .navbar-item{
        padding-left:0;
    }

    .mobile-nav {
        z-index: 1;
        display: block;
    }

    .columns.about {
        margin: 0 !important;

        .column.is-half {
            min-height: 20px !important;

            h2 {
                font-size: 20px;
            }
        }
    }

    .content.about {
        padding: 0 !important;
    }

    .columns.is-mobile .column {
        padding: 10px !important;
        width: 100% !important;
        margin: 0 !important;
    }

    .column.is-two-thirds.landing {
        h1 {
            br {
                display: none;
            }
        }
    }

    h1 {
        font-size: 42px !important;
    }
    h2{
        padding-left: 0 !important;
        text-align: center !important;
        &:after{
            width:50px !important;
            bottom:-15px;
            top: auto !important;
            left: 0!important;
            right: 0;
            transform: translate(0%, 0%) !important;
            margin:0 auto;
        }
    }

    .hero.is-fullheight {
        .page {
            position: relative;
            width: 100%;
            flex: 1 1 auto;
            overflow: hidden;
        }
    }

    .fixed-nav {
        .navbar-brand {
            display: none;
        }
    }

    #featured{
        padding-top:20px;
        .card{
            padding:20px;
        }
    }
}


#cursor-circle {
    position: absolute;
    top: -100px;
    width: 0;
    height: 0;
    contain: layout style size;
    border-radius: 50%;
    background-color: $theme-red;
    will-change: transform;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    z-index: 0;
  }
  .cursor-in {
    width: 80px !important;
    height: 80px !important;
    transition: width .7s, height .7s, left .15s ease-out, top .15s ease-out;
  }
  .cursor-out {
    width: 0 !important;
    height: 0 !important;
    transition: width .7s, height .7s;
  }